@import "res/firamono-font.css";
@import "style/navbar.scss";
@import "style/theme.scss";

.invisible {
    display: none;
}

#notes-editor {
    width: 100vw !important;
    height: 100vh !important;
}